
/*Générals Settings*/

*, ::after, ::before{
    margin: 0;
    padding: 0;
}

body {
    background-color: black 
}



/* -- -- */


/*Import GoogleFont*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300&family=Monsieur+La+Doulaise&family=Shadows+Into+Light&display=swap');
/* -- -- */

/*Header*/
a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: white;
    list-style: none    ;
}

a:hover {
    text-decoration: underline;
}

.backGround2 {
    height:800px;
    width: 100%;
    opacity: 0.8;
    position: absolute;
    left: auto;
    right: auto;
    z-index: -1;
 
}



/*-- NavBar -- */

nav {
    padding-left: 2%;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 5rem;
    align-items: center;
    position: fixed;
    background-color: hsla(0, 0%, 20%, 0.288);
    box-shadow: 10px 10px 10px black;
}

.anim-nav{
    background: hsla(0, 0%, 1%, 0.705);
    color: black;
    border-bottom: 1px solid;
}

.navMenu {
    padding: 3rem;;
    display: flex;
    flex-direction: row;
    align-items: center ;

}

.navMenu a {
    font-family: 'Raleway', sans-serif;
    padding-right: 2rem;
    padding-top: 0.5rem;
}

.logo h1 {
    font-size: 30px;
    font-family: 'Cormorant Unicase', serif; 
    display: flex;
    align-content: center;
}

/*-- HEADER --*/  

.header {
    height: 100%;
    width: 100% ;
    background: url('Image/Header/SauronHeader.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.headerTitle {
    width: 40%;
    max-width: 900px;
    padding: 12% 20% 20% 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerTitle h1 {
    width: 100%;
    height: auto;
    font-size: 60px;
    font-family: 'Cormorant Unicase', serif;
    color: white;
}

.headerTitle .join {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row ;
    align-items: center;
    
}

.headerTitle .join button {
    margin-top: 2rem;
    padding: 0.6rem 4rem;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    background-color: hsla(0, 0%, 20%, 0.288);
    border-radius: 0.5rem;
    box-shadow: 8px 8px 6px black;
    border: 0.1rem solid white;
}

.headerTitle .join button:hover  {
    background-color: hsla(0, 0%, 100%, 0.281);
}

.headerTitle h2 {
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
    font-size: 25px;
    font-family: 'Great Vibes', cursive; 
    color: white;
    display: flex;
    justify-content: flex-start;
}

.headerTitle p {
    width: 100%;
    height: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: white;
    padding-top: 1.5rem;
    line-height: 2rem;    

}

@media screen and (max-width: 900px) {
    .headerTitle {
        width: 80%;
        padding: 30% 15% 20% 15%;
        background-size: contain;
    }
}


   /* -- End Header -- */



   /* -- TheRingSection -- */


.theRing {
    height: 100%;
    width: 100% ;
    background: url('Image/Header/Anneaux.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

} 

.theRing .TheRule {
   color: white;
   font-family: 'Great Vibes', cursive;
   font-size: 40px;
   display: flex;
   justify-content: center;
   margin-top: 12rem;

   }




.theRing .theOne .text2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: white;
    padding-top: 3rem;
    line-height: 2rem;
}

.theRing .theOne h1 {
    font-size: 60px;
    font-family: 'Cormorant Unicase', serif;
    color: white;
   
}


.theRing .theOne p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: white;
    padding-top: 3rem;
    line-height: 2rem;
}

.theRing .theOne h2 {
    width: 100%;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: white;
    padding-top: 3rem;
}

@media screen and (max-width: 1300px) {
    .theRing {
        width: 80%;
        margin: 20% 10% 20% 10%; 
        background-size: contain;
    }
}

@media screen and  (min-width: 1300px) {
    .theRing .theOne {   
        margin-right: 20rem;  
        margin-left: 5rem;
        margin-top: 5rem;
     }

     .theRing .theOne .text2 {
        margin-right: 25rem;
     }
     
}
    
   /* -- End -- */




 /* -- ThePriorityTargetSection -- */


.priorityTarget {
    height: 100%;
    width: 100% ;
    background: url('Image/index.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 50rem;
}


.priorityTarget .targetTitle {
   margin-top: 10rem;
}



.priorityTarget h2 {
    padding-bottom: 2rem;
    color: white;
    font-size: 60px;
    font-family: 'Cormorant Unicase', serif;
    text-align: center;
}

.priorityTarget .allTarget {
    margin: 10rem 5rem 10rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.priorityTarget .targetBlock {
    background-color:hsla(0, 0%, 20%, 0.288);;
    width: 30%;
    padding: 50px;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 10px 10px 10px black;
}

.priorityTarget .targetBlock img {
    height: 28rem;
    width: 20rem;
    box-shadow: 10px 10px 10px black;
}


.priorityTarget .allTarget h3 {
    padding-top: 2rem;
    color: white;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;;
}

.priorityTarget .allTarget p {
    padding-top: 2rem;
    color: white;
    font-size: 15px;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5rem;
}

.priorityTarget .allTarget h4 {
    padding-top: 2rem;
    color: white;
    font-size: 20px;
    font-family: 'Raleway', sans-serif'

}

@media screen and (max-width: 1300px) {
   
   
    .priorityTarget .targetTitle h2 {
       margin: 10px auto;
       font-size: 50px;
   }
   
    .priorityTarget {
        background-size: contain;

    }
  
  
    .priorityTarget .allTarget {
        display: flex;
        flex-direction: row;
    }

    .priorityTarget .targetBlock p {
        font-size: 12px;
        padding-top: 1rem;
    }

    
    .priorityTarget .targetBlock {
        width: 80%;
        margin: 10% 30%;  
          
    }

    .priorityTarget .targetBlock img {
        height: 22rem;
        width: 16rem;
        margin: 1rem auto;
    }
}


 /* -- End -- */


  /* -- TheNewsLetterSection -- */

  .newsLetter {
    height: 100%;
    width: 100% ;
    background: url('Image/newsLetterBackground.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -40rem;
  }



.NewsletterBlock {
    width: 65%;
    max-width: 1300px;
    background-color:  hsla(0, 0%, 20%, 0.288);
    margin-right: 15rem;
    margin-left: 15rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    box-shadow: 10px 10px 10px black;
}

.subscribeNewsletter {
   padding-bottom: 2rem;
}


.subscribeNewsletter h2 {
    color: white;
    font-size: 60px;
    font-family: 'Cormorant Unicase', serif;
    text-align: center;
}


.subscribeNewsletter ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.subscribeNewsletter ul li {
    padding-top: 1rem;
    color: white;
    font-size: 15px;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

.inputEmail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

.inputEmail input {
    width: 50%;
    padding: 1.2rem 1rem 1.2rem 1rem;
    margin-right: 2rem;
    background-color: hsla(0, 0%, 20%, 0.288);
    box-shadow: 10px 10px 10px black;
    border-radius: 0.5rem;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    border: 0.1rem solid white;
}

.inputEmail button {
    padding: 0.2rem 3rem;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    background-color: hsla(0, 0%, 20%, 0.288);
    border-radius: 0.5rem;
    box-shadow: 8px 8px 6px black;
    border: 0.1rem solid white;
    
}

.inputEmail button:hover {
    background-color: hsla(0, 0%, 100%, 0.281);;
}

.endTitle {
    color: white;
    padding-top: 4rem;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
 @media screen and (max-width: 1300px) {
    .NewsletterBlock {
       margin: auto;
       padding: 50px;
    }
    
    .subscribeNewsletter h2 {
        font-size: 30px;
        width: 100%;
    }

    .subscribeNewsletter ul li {
        font-size: 10px;
    }

    .inputEmail {
        display: flex;
        flex-direction: column;
    }
   
    .inputEmail input {
        width: 93%;
        padding: 20px 10px;
    }
   
    .inputEmail button  {
        width: 100%;
        margin-top: 20px;
        padding: 10px 10px;
    }
 }
/* -- END -- */

/* -- Footer -- */

.footer {
    margin-top: 15rem;
    height: 10rem;
    background-color:  hsla(0, 0%, 20%, 0.288);
    box-shadow: -3px -3px 15px hsla(0, 0%, 100%, 0.425);
}

.footer .footerBlock {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    
}

.footer .footerBlock p {
    padding-top: 2rem;
}

@media screen and (max-width: 1300px) {
    .footer .footerBlock {
        font-size: 12px;
        margin: 20px 20px
    }
    
}

